[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
celery = "*"
redis = "==2.10.6"
django-phonenumber-field = "*"
pillow = "*"
django-rest-auth = "*"
django-allauth = "*"
django-extensions = "*"
django-debug-toolbar = "*"
drf-yasg = "*"
kombu = "*"
sentry-sdk = "*"
gunicorn = "*"

[dev-packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
celery = "*"
redis = "*"
drf-yasg = "*"
django-phonenumber-field = "*"
pillow = "*"
django-rest-auth = "*"
django-allauth = "*"
django-extensions = "*"

[requires]
python_version = "3.6"

[scripts]
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
server = "python manage.py runserver"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell_plus"
show_urls = "python manage.py show_urls"
celery = "celery -A config.celery worker -B -l info"
collectstatic = "python manage.py collectstatic --no-input"
